<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify OTP - Mind Canvas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    * {
      font-family: "Outfit", sans-serif;
      box-sizing: border-box;
    }
  </style>
</head>

<body class="bg-gray-900 text-white">

  <header class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/">
        <h1 class="text-3xl font-light cursor-pointer tracking-widest text-white">Mind Canvas</h1>
      </a>
    </div>
  </header>

  <main class="container mx-auto p-4">
    <section class="mt-8">
      <h2 class="text-3xl font-light mb-8 text-center">Enter your verification OTP</h2>
      <p class="m-auto text-center text-blue-500 mb-4"><%= locals.message %></p>
      <form action="/user/verify-otp" method="post" class="bg-gray-800 p-6 rounded-lg shadow-lg max-w-md mx-auto">
        <div class="mb-4 flex flex-col gap-2">
          <label for="otp" class="block text-sm font-medium">Verification OTP</label>
          <input type="text" id="otp" name="otp" required
            class="mt-1 block w-full p-2 bg-gray-700 border border-gray-600 rounded-md focus:outline-none focus:ring focus:ring-blue-500"
            placeholder="Enter your OTP">
        </div>
        <button type="submit" class="w-full bg-blue-600 hover:bg-blue-500 text-white font-medium py-2 rounded-md">Verify</button>
      </form>
    </section>
  </main>

</body>

</html>