<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Mind Canvas</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    * {
      font-family: 'Outfit', sans-serif;
    }

    body {
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body class="bg-gray-900 text-white overflow-hidden">

  <header class="bg-gray-800 p-6 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/">
        <h1 class="text-3xl font-light cursor-pointer tracking-widest text-white">Mind Canvas</h1>
      </a>
      <nav>
        <ul class="flex space-x-6 font-light text-white">
          <li><a href="/" class="hover:text-gray-400">Home</a></li>
          <li><a href="/about" class="hover:text-gray-400">About</a></li>
          <li><a href="/contact" class="hover:text-gray-400">Contact</a></li>
          <li><a href="/register"
              class="py-2 px-4 bg-white text-gray-900 font-medium rounded-md hover:bg-gray-100">Register</a></li>
          <li><a href="/login"
              class="py-2 px-4 bg-white text-gray-900 font-medium rounded-md hover:bg-gray-100">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="flex justify-center items-center min-h-screen bg-gray-900">
    <div class="text-center space-y-6">
      <h2 class="tracking-wider text-6xl font-extralight text-white">Welcome to Mind Canvas</h2>
      <p class="text-xl text-gray-400 leading-relaxed p-4">
        Mind Canvas is a creative platform where writers and readers can share, explore, and engage with original
        content. Whether you're a seasoned author or a first-time blogger, our intuitive interface allows you to express
        your thoughts and ideas freely. Join a community of passionate creators and start sharing your stories today!
      </p>
      <a href="/register"
        class="mt-4 inline-block py-3 px-6 bg-white text-gray-900 font-medium rounded-md hover:bg-gray-100 transition duration-200">Get
        Started</a>
    </div>
  </main>

</body>

</html>