<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    *{
      font-family: 'Outfit', sans-serif;
    }
  </style>
</head>

<body class="bg-gray-900 text-white">

  <header class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="/"><h1 class="text-2xl font-bold cursor-pointer">Mind Canvas</h1></a>
      <nav>
        <ul class="flex space-x-6">
          <li><a href="#" class="hover:text-gray-400">Home</a></li>
          <li><a href="/about" class="hover:text-gray-400">About</a></li>
          <li><a href="/contact" class="hover:text-gray-400">Contact</a></li>
          <li><a href="/signup" class="py-3 px-3 bg-white text-black rounded-md">Register Yourself</a></li>
          <li><a href="/login" class="py-3 px-3 bg-white text-black rounded-md">Login</a></li>
        </ul>
      </nav>
    </div>
  </header>

</body>
</html>